* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  background-color: #d9d9d9;
}

:root {
  --grey: #d9d9d9;
  --pink: #f499b8;
  --green: #575b47;
  --shadow: rgb(81, 77, 77);
}

@font-face {
  font-family: Amiko-Regular;
  src: url(../fonts/Amiko-Regular.ttf);
}

@font-face {
  font-family: Amiko-Bold;
  src: url(../fonts/Amiko-Bold.ttf);
}

@font-face {
  font-family: mostWasted;
  src: url(../fonts/mostwasted.woff2);
}

h1 {
  font-family: mostWasted, serif;
  font-size: 2.5rem;
  margin-bottom: 0.2rem;
  margin-top: 0.4rem;
}

h2 {
  font-family: Amiko-Bold;
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

p {
  font-family: Amiko-Regular;
  font-size: 1rem;
  line-height: 1.8rem;
  margin-bottom: 1rem;
  font-weight: normal;
}

ol {
  margin-left: 1.2rem;
}

ol li {
  font-family: Amiko-Regular;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
}

ul {
  margin-left: 1.2rem;
}

ul li {
  font-family: Amiko-Regular;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 0.5rem;
}

@media (min-width: 769px) {
  h1 {
    font-family: mostWasted, serif;
    font-size: 7rem;
    margin-bottom: 0.5rem;
    margin-top: 0.4rem;
  }

  h2 {
    font-family: Amiko-Bold;
    font-size: 2.5rem;
    font-weight: bold;
  }

  p {
    font-family: Amiko-Regular;
    font-size: 2rem;
    line-height: 3rem;
    font-weight: normal;
  }

  ol {
    margin-left: 3rem;
  }

  ul {
    margin-left: 3rem;
  }

  ol li {
    font-family: Amiko-Regular;
    font-size: 2rem;
    line-height: 3rem;
  }

  ul li {
    font-family: Amiko-Regular;
    font-size: 2rem;
    line-height: 3rem;
  }
}

.custom-text br {
  line-height: 10; /* Tilføjer større mellemrum specifikt til linjeskift */
}

.custom-text {
  line-height: 10; /* Juster dette tal for at få større eller mindre mellemrum */
}
