---
import MainLayout from "../layout/MainLayout.astro";
import "../styles/general.css";
import Button from "../components/Button.astro";
---

<MainLayout>
  <img class="ansog_billede" src="/ansog.webp" alt="To kvinder" />
<div class="tekst_container">
  <h1>Vil du være med i SUBURBANGIRLS 2025?</h1>
<p class="strong">SÅDAN SØGER DU</p>
  <p>For at ansøge om at være en del af det nye SUBURBANGIRLS hold skal du udfylde det vedhæftede ansøgningsskema, som du finder længere nede ved “Ansøg nu”, hvor du hvor du fortæller lidt om dig selv og om dit liv med musik.</p>
<p>Når du har sendt din ansøgning vil du modtage en ‘Tak for din ansøgning’ mail retur. Får du ikke den, så er det ikke sikkert vi har modtaget din ansøgning.</p>
</div>

<div class="grid_container">
<img class="forsidebillede2" src="/ubg.webp" alt="billede af sub" />

  <div class="ansog_tekst_box">
    <h1 class="deadline">ANSØGNINGSFRIST<br>D. 30.11.25</h1>
    <h3 class="kickstart">Kickstart din karriere nu!</h3>
    <a href="https://docs.google.com/forms/d/1aT5OMMFyhVFeyxX2CWQICQA-FcZ2hhjhwoQ7THOj-IM/viewform?edit_requested=true">
        <Button color="pink" opacity="sortbaggrund"><strong>ANSØG NU</strong></Button>
      </a>
</div>
<img class="logo" src="/svger/logo.svg" alt="logo" />
</div>
<p class="spørgsmål">Har du spørgsmål eller ønsker mere information. <br>Skriv på projektets mail: suburbangirlsdk@gmail.com</p>
</MainLayout>
<style>
    .ansog_billede{
    width: 100%;
  height: auto;
  margin-bottom: 5%;
  }
  .tekst_container{
    margin-left: 5%;
    margin-right: 5%;
  }

  .strong{
    font-family: Amiko-Bold;
  }

  /*ANSØG MED BILLEDE*/

  .grid_container{
    display: grid;
    margin-top: 3%;
  }
.forsidebillede2 {
  grid-column: 1;
    grid-row: 1;
    object-fit: cover; Scale and crop
    object-position: 80% center;
    width: 100%;
    height: 65vw;
    margin-top: -5vw;
    transform: scaleX(-1); /* Flipper billedet vandret */
}

.ansog_tekst_box{
  grid-column: 1;
    grid-row: 1;
    z-index: 1;
    margin-top: 12%;
    margin-left: 5%;
}

.deadline{
  margin-bottom: 0;
    color: var(--pink);
}
.kickstart{
color: var(--pink);
margin-bottom: 1%;
}

.logo{
  grid-column: 1;
    grid-row: 1;
    z-index: 1;
    justify-self: right;
    margin-right: 7%;
    margin-top: 17%;
    width: 22%;
}
.spørgsmål{
margin-left: 5%;
font-size: 0.7em;
margin-top: -2%;
line-height: 1rem;
}
@media (min-width: 769px){
    .tekst_container{
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 6%;
  }
    .ansog_tekst_box{
    margin-top: 12%;
    margin-left: 10%;
}
.spørgsmål{
margin-left: 10%;
font-size: 0.9em;
margin-top: -5%;
margin-bottom: 5%;
}

}


</style>