---
import MainLayout from "../layout/MainLayout.astro";
import "../styles/general.css";
---

<MainLayout>
  <img
    class="forside_img"
    src="public/deltager/deltager_forside1.webp"
    alt=""
  />
  <h1 style="margin-left: 1.4em">Deltagerne 2023</h1>
  <section class="top_grid margin">
    <figure>
      <img src="public/deltager/Fællesbillede_2.webp" alt="my_photo" />
      <figcaption>2023</figcaption>
      <img
        class="tape tape-top-left"
        src="public/deltager/lille_tape.webp"
        alt=""
      />
      <img
        class="tape tape-bottom-right"
        src="public/deltager/lille_tape.webp"
        alt=""
      />
    </figure>
    <div>
      <iframe
        style="border-radius: 12px"
        src="https://open.spotify.com/embed/artist/0P0xnSm6cTBPpAQPY78oHN?utm_source=generator"
        width="100%"
        height="352"
        frameborder="0"
        allowfullscreen=""
        allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
        loading="lazy"></iframe>
      <div class="button-container">
        <button class="button" id="button"
          >Se deltagerne <span class="caret"></span>
        </button>
      </div>
    </div>
  </section>

  <section class="grid1 forsvind">
    <div class="image_wrapper">
      <img src="public/deltager/delt_1.webp" alt="" />
      <div class="content fade">
        <h2>Lili</h2>
        <a href="https://www.instagram.com/suburbangirlsdk/?locale=en_US"
          ><img src="public/svger/instagram.svg" alt="" /></a
        >
      </div>
    </div>
    <div class="image_wrapper">
      <img src="public/deltager/delt_2.webp" alt="" />
      <div class="content fade">
        <h2>Marie</h2>
        <a href="https://www.instagram.com/suburbangirlsdk/?locale=en_US"
          ><img src="public/svger/instagram.svg" alt="" /></a
        >
      </div>
    </div>
    <div class="image_wrapper">
      <img src="public/deltager/delt_3.webp" alt="" />
      <div class="content fade">
        <h2>Anna</h2>
        <a href="https://www.instagram.com/suburbangirlsdk/?locale=en_US"
          ><img src="public/svger/instagram.svg" alt="" /></a
        >
      </div>
    </div>
    <div class="image_wrapper">
      <img src="public/deltager/delt_4.webp" alt="" />
      <div class="content fade">
        <h2>Donita Rose</h2>
        <a href="https://www.instagram.com/suburbangirlsdk/?locale=en_US"
          ><img src="public/svger/instagram.svg" alt="" /></a
        >
      </div>
    </div>
    <div class="image_wrapper">
      <img src="public/deltager/delt_5.webp" alt="" />
      <div class="content fade">
        <h2>Sofia</h2>
        <a href="https://www.instagram.com/suburbangirlsdk/?locale=en_US"
          ><img src="public/svger/instagram.svg" alt="" /></a
        >
      </div>
    </div>
    <div class="image_wrapper">
      <img src="public/deltager/delt_6.webp" alt="" />
      <div class="content fade">
        <h2>Luna</h2>
        <a href="https://www.instagram.com/suburbangirlsdk/?locale=en_US"
          ><img src="public/svger/instagram.svg" alt="" /></a
        >
      </div>
    </div>
    <div class="image_wrapper">
      <img src="public/deltager/delt_7.webp" alt="" />
      <div class="content fade">
        <h2>Kathrine</h2>
        <a href="https://www.instagram.com/suburbangirlsdk/?locale=en_US"
          ><img src="public/svger/instagram.svg" alt="" /></a
        >
      </div>
    </div>
    <div class="image_wrapper">
      <img src="public/deltager/delt_8.webp" alt="" />
      <div class="content fade">
        <h2>Vanilla</h2>
        <a href="https://www.instagram.com/suburbangirlsdk/?locale=en_US"
          ><img src="public/svger/instagram.svg" alt="" /></a
        >
      </div>
    </div>
    <div class="image_wrapper">
      <img src="public/deltager/delt_9.webp" alt="" />
      <div class="content fade">
        <h2>Molly</h2>
        <a href="https://www.instagram.com/suburbangirlsdk/?locale=en_US"
          ><img src="public/svger/instagram.svg" alt="" /></a
        >
      </div>
    </div>
    <div class="image_wrapper">
      <img src="public/deltager/delt_10.webp" alt="" />
      <div class="content fade">
        <h2>Ingrid</h2>
        <a href="https://www.instagram.com/suburbangirlsdk/?locale=en_US"
          ><img src="public/svger/instagram.svg" alt="" /></a
        >
      </div>
    </div>
    <div class="image_wrapper">
      <img src="public/deltager/delt_11.webp" alt="" />
      <div class="content fade">
        <h2>Sophie</h2>
        <a href="https://www.instagram.com/suburbangirlsdk/?locale=en_US"
          ><img src="public/svger/instagram.svg" alt="" /></a
        >
      </div>
    </div>
    <div class="image_wrapper">
      <img src="public/deltager/delt_4.webp" alt="" />
      <div class="content fade">
        <h2>Iris</h2>
        <a href="https://www.instagram.com/suburbangirlsdk/?locale=en_US"
          ><img src="public/svger/instagram.svg" alt="" /></a
        >
      </div>
    </div>
    <div class="image_wrapper">
      <img src="public/deltager/delt_2.webp" alt="" />
      <div class="content fade">
        <h2>Merle</h2>
        <a href="https://www.instagram.com/suburbangirlsdk/?locale=en_US"
          ><img src="public/svger/instagram.svg" alt="" /></a
        >
      </div>
    </div>
    <div class="image_wrapper">
      <img src="public/deltager/delt_6.webp" alt="" />
      <div class="content fade">
        <h2>Bjørk</h2>
        <a href="https://www.instagram.com/suburbangirlsdk/?locale=en_US"
          ><img src="public/svger/instagram.svg" alt="" /></a
        >
      </div>
    </div>
    <div class="image_wrapper">
      <img src="public/deltager/delt_5.webp" alt="" />
      <div class="content fade">
        <h2>Lulu</h2>
        <a href="https://www.instagram.com/suburbangirlsdk/?locale=en_US"
          ><img src="public/svger/instagram.svg" alt="" /></a
        >
      </div>
    </div>
  </section>
  <img style="width: 100%;" src="public/paper-texture_pink_01.gif" alt="" />

  <div id="pink_baggrund">
    <h1 style="margin-left: 1.4em">Deltagerne 2022</h1>
    <section class="top_grid margin">
      <figure>
        <img src="public/deltager/fællesbillede3.webp" alt="my_photo" />
        <figcaption>2022</figcaption>
        <img
          class="tape tape-top-left"
          src="public/deltager/lille_tape.webp"
          alt=""
        />
        <img
          class="tape tape-bottom-right"
          src="public/deltager/lille_tape.webp"
          alt=""
        />
      </figure>
      <div>
        <iframe
          style="border-radius: 12px"
          src="https://open.spotify.com/embed/artist/0P0xnSm6cTBPpAQPY78oHN?utm_source=generator"
          width="100%"
          height="352"
          frameborder="0"
          allowfullscreen=""
          allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
          loading="lazy"></iframe>
        <div class="button-container">
          <button class="button" id="button2"
            >Se deltagerne <span class="caret"></span>
          </button>
        </div>
      </div>
    </section>

    <section class="grid1 forsvind">
      <div class="image_wrapper">
        <img src="public/deltager/delt_1.webp" alt="" />
        <div class="content fade">
          <h2>Lili</h2>
          <a href="https://www.instagram.com/suburbangirlsdk/?locale=en_US"
            ><img src="public/svger/instagram.svg" alt="" /></a
          >
        </div>
      </div>
      <div class="image_wrapper">
        <img src="public/deltager/delt_2.webp" alt="" />
        <div class="content fade">
          <h2>Marie</h2>
          <a href="https://www.instagram.com/suburbangirlsdk/?locale=en_US"
            ><img src="public/svger/instagram.svg" alt="" /></a
          >
        </div>
      </div>
      <div class="image_wrapper">
        <img src="public/deltager/delt_3.webp" alt="" />
        <div class="content fade">
          <h2>Anna</h2>
          <a href="https://www.instagram.com/suburbangirlsdk/?locale=en_US"
            ><img src="public/svger/instagram.svg" alt="" /></a
          >
        </div>
      </div>
      <div class="image_wrapper">
        <img src="public/deltager/delt_4.webp" alt="" />
        <div class="content fade">
          <h2>Donita Rose</h2>
          <a href="https://www.instagram.com/suburbangirlsdk/?locale=en_US"
            ><img src="public/svger/instagram.svg" alt="" /></a
          >
        </div>
      </div>
      <div class="image_wrapper">
        <img src="public/deltager/delt_5.webp" alt="" />
        <div class="content fade">
          <h2>Sofia</h2>
          <a href="https://www.instagram.com/suburbangirlsdk/?locale=en_US"
            ><img src="public/svger/instagram.svg" alt="" /></a
          >
        </div>
      </div>
      <div class="image_wrapper">
        <img src="public/deltager/delt_6.webp" alt="" />
        <div class="content fade">
          <h2>Luna</h2>
          <a href="https://www.instagram.com/suburbangirlsdk/?locale=en_US"
            ><img src="public/svger/instagram.svg" alt="" /></a
          >
        </div>
      </div>
      <div class="image_wrapper">
        <img src="public/deltager/delt_7.webp" alt="" />
        <div class="content fade">
          <h2>Kathrine</h2>
          <a href="https://www.instagram.com/suburbangirlsdk/?locale=en_US"
            ><img src="public/svger/instagram.svg" alt="" /></a
          >
        </div>
      </div>
      <div class="image_wrapper">
        <img src="public/deltager/delt_8.webp" alt="" />
        <div class="content fade">
          <h2>Vanilla</h2>
          <a href="https://www.instagram.com/suburbangirlsdk/?locale=en_US"
            ><img src="public/svger/instagram.svg" alt="" /></a
          >
        </div>
      </div>
      <div class="image_wrapper">
        <img src="public/deltager/delt_9.webp" alt="" />
        <div class="content fade">
          <h2>Molly</h2>
          <a href="https://www.instagram.com/suburbangirlsdk/?locale=en_US"
            ><img src="public/svger/instagram.svg" alt="" /></a
          >
        </div>
      </div>
      <div class="image_wrapper">
        <img src="public/deltager/delt_10.webp" alt="" />
        <div class="content fade">
          <h2>Ingrid</h2>
          <a href="https://www.instagram.com/suburbangirlsdk/?locale=en_US"
            ><img src="public/svger/instagram.svg" alt="" /></a
          >
        </div>
      </div>
      <div class="image_wrapper">
        <img src="public/deltager/delt_11.webp" alt="" />
        <div class="content fade">
          <h2>Sophie</h2>
          <a href="https://www.instagram.com/suburbangirlsdk/?locale=en_US"
            ><img src="public/svger/instagram.svg" alt="" /></a
          >
        </div>
      </div>
      <div class="image_wrapper">
        <img src="public/deltager/delt_4.webp" alt="" />
        <div class="content fade">
          <h2>Iris</h2>
          <a href="https://www.instagram.com/suburbangirlsdk/?locale=en_US"
            ><img src="public/svger/instagram.svg" alt="" /></a
          >
        </div>
      </div>
      <div class="image_wrapper">
        <img src="public/deltager/delt_2.webp" alt="" />
        <div class="content fade">
          <h2>Merle</h2>
          <a href="https://www.instagram.com/suburbangirlsdk/?locale=en_US"
            ><img src="public/svger/instagram.svg" alt="" /></a
          >
        </div>
      </div>
      <div class="image_wrapper">
        <img src="public/deltager/delt_6.webp" alt="" />
        <div class="content fade">
          <h2>Bjørk</h2>
          <a href="https://www.instagram.com/suburbangirlsdk/?locale=en_US"
            ><img src="public/svger/instagram.svg" alt="" /></a
          >
        </div>
      </div>
      <div class="image_wrapper">
        <img src="public/deltager/delt_5.webp" alt="" />
        <div class="content fade">
          <h2>Lulu</h2>
          <a href="https://www.instagram.com/suburbangirlsdk/?locale=en_US"
            ><img src="public/svger/instagram.svg" alt="" /></a
          >
        </div>
      </div>
    </section>
  </div>
  <img class="last_torn_paper" src="public/paper-texture_pink_03.gif" alt="" />

  <h1 class="nederst_h1">Deltagerne 2021</h1>
  <section class="top_grid margin">
    <figure>
      <img src="public/deltager/Fællesbillede_2.webp" alt="my_photo" />
      <figcaption>2021</figcaption>
      <img
        class="tape tape-top-left"
        src="public/deltager/lille_tape.webp"
        alt=""
      />
      <img
        class="tape tape-bottom-right"
        src="public/deltager/lille_tape.webp"
        alt=""
      />
    </figure>
    <div>
      <iframe
        style="border-radius: 12px"
        src="https://open.spotify.com/embed/artist/0P0xnSm6cTBPpAQPY78oHN?utm_source=generator"
        width="100%"
        height="352"
        frameborder="0"
        allowfullscreen=""
        allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
        loading="lazy"></iframe>
      <div class="button-container">
        <button class="button" id="button3"
          >Se deltagerne <span class="caret"></span>
        </button>
      </div>
    </div>
  </section>

  <section class="grid1 forsvind">
    <div class="image_wrapper">
      <img src="public/deltager/delt_1.webp" alt="" />
      <div class="content fade">
        <h2>Lili</h2>
        <a href=""
          >https://www.instagram.com/suburbangirlsdk/?locale=en_US<img
            src="public/svger/instagram.svg"
            alt=""
          /></a
        >
      </div>
    </div>
    <div class="image_wrapper">
      <img src="public/deltager/delt_2.webp" alt="" />
      <div class="content fade">
        <h2>Marie</h2>
        <a href="https://www.instagram.com/suburbangirlsdk/?locale=en_US"
          ><img src="public/svger/instagram.svg" alt="" /></a
        >
      </div>
    </div>
    <div class="image_wrapper">
      <img src="public/deltager/delt_3.webp" alt="" />
      <div class="content fade">
        <h2>Anna</h2>
        <a href="https://www.instagram.com/suburbangirlsdk/?locale=en_US"
          ><img src="public/svger/instagram.svg" alt="" /></a
        >
      </div>
    </div>
    <div class="image_wrapper">
      <img src="public/deltager/delt_4.webp" alt="" />
      <div class="content fade">
        <h2>Donita Rose</h2>
        <a href="https://www.instagram.com/suburbangirlsdk/?locale=en_US"
          ><img src="public/svger/instagram.svg" alt="" /></a
        >
      </div>
    </div>
    <div class="image_wrapper">
      <img src="public/deltager/delt_5.webp" alt="" />
      <div class="content fade">
        <h2>Sofia</h2>
        <a href="https://www.instagram.com/suburbangirlsdk/?locale=en_US"
          ><img src="public/svger/instagram.svg" alt="" /></a
        >
      </div>
    </div>
    <div class="image_wrapper">
      <img src="public/deltager/delt_6.webp" alt="" />
      <div class="content fade">
        <h2>Luna</h2>
        <a href='https://www.instagram.com/suburbangirlsdk/?locale=en_US"'
          ><img src="public/svger/instagram.svg" alt="" /></a
        >
      </div>
    </div>
    <div class="image_wrapper">
      <img src="public/deltager/delt_7.webp" alt="" />
      <div class="content fade">
        <h2>Kathrine</h2>
        <a href="https://www.instagram.com/suburbangirlsdk/?locale=en_US"
          ><img src="public/svger/instagram.svg" alt="" /></a
        >
      </div>
    </div>
    <div class="image_wrapper">
      <img src="public/deltager/delt_8.webp" alt="" />
      <div class="content fade">
        <h2>Vanilla</h2>
        <a href="https://www.instagram.com/suburbangirlsdk/?locale=en_US"
          ><img src="public/svger/instagram.svg" alt="" /></a
        >
      </div>
    </div>
    <div class="image_wrapper">
      <img src="public/deltager/delt_9.webp" alt="" />
      <div class="content fade">
        <h2>Molly</h2>
        <a href="https://www.instagram.com/suburbangirlsdk/?locale=en_US"
          ><img src="public/svger/instagram.svg" alt="" /></a
        >
      </div>
    </div>
    <div class="image_wrapper">
      <img src="public/deltager/delt_10.webp" alt="" />
      <div class="content fade">
        <h2>Ingrid</h2>
        <a href="https://www.instagram.com/suburbangirlsdk/?locale=en_US"
          ><img src="public/svger/instagram.svg" alt="" /></a
        >
      </div>
    </div>
    <div class="image_wrapper">
      <img src="public/deltager/delt_11.webp" alt="" />
      <div class="content fade">
        <h2>Sophie</h2>
        <a href="https://www.instagram.com/suburbangirlsdk/?locale=en_US"
          ><img src="public/svger/instagram.svg" alt="" /></a
        >
      </div>
    </div>
    <div class="image_wrapper">
      <img src="public/deltager/delt_4.webp" alt="" />
      <div class="content fade">
        <h2>Iris</h2>
        <a href="https://www.instagram.com/suburbangirlsdk/?locale=en_US"
          ><img src="public/svger/instagram.svg" alt="" /></a
        >
      </div>
    </div>
    <div class="image_wrapper">
      <img src="public/deltager/delt_2.webp" alt="" />
      <div class="content fade">
        <h2>Merle</h2>
        <a href="https://www.instagram.com/suburbangirlsdk/?locale=en_US"
          ><img src="public/svger/instagram.svg" alt="" /></a
        >
      </div>
    </div>
    <div class="image_wrapper">
      <img src="public/deltager/delt_6.webp" alt="" />
      <div class="content fade">
        <h2>Bjørk</h2>
        <a href="https://www.instagram.com/suburbangirlsdk/?locale=en_US"
          ><img src="public/svger/instagram.svg" alt="" /></a
        >
      </div>
    </div>
    <div class="image_wrapper">
      <img src="public/deltager/delt_5.webp" alt="" />
      <div class="content fade">
        <h2>Lulu</h2>
        <a href="https://www.instagram.com/suburbangirlsdk/?locale=en_US"
          ><img src="public/svger/instagram.svg" alt="" /></a
        >
      </div>
    </div>
  </section>
</MainLayout>

<style>
  .nederst_h1 {
    margin-top: -44px;
    margin-left: 1.4em;
  }
  .margin {
    margin-top: 2em;
    margin-left: 1.2em;
    margin-right: 1.2em;
  }
  .forside_img {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  .grid1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .button-container {
    display: flex;
    justify-content: left; /* Centrerer horisontalt */
    align-items: center; /* Centrerer vertikalt */
    /* Får containeren til at fylde hele højden af viewporten */
  }

  .button {
    border: solid;
    border-color: black;
    background-color: rgba(255, 255, 255, 0.746);
    border-width: medium;
    border-radius: 12px;
    color: black;
    padding: 7px 12px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 25px;
    margin-top: 40px;
    margin-bottom: 15px;
    cursor: pointer;
    font-family: Amiko-Bold;
  }

  #pink_baggrund {
    background-color: var(--pink);
    margin: 0%;
    position: relative;
    top: -35px;
    height: auto;
    z-index: 1;
  }

  .last_torn_paper {
    top: -50px;
    width: 100%;
    position: relative;
    rotate: 1deg;
  }
  /*polaroid*/

  figure {
    width: 244px;
    height: 292px;
    position: relative;
    background-color: #ffffff;
    padding: 19px 19px 55px 19px;
    box-shadow: 4px 8px 12px 0px rgba(0, 0, 0, 0.42);
    rotate: 10deg;

    /* Tilføj disse regler for at centrere figuren */
    margin: 0 auto; /* Centrer vandret */
    margin-top: 30px;
    margin-bottom: 40px;
    display: flex; /* Brug flexbox */
    flex-direction: column; /* Stak elementerne lodret */
    justify-content: center; /* Centrer indholdet lodret */
    align-items: center; /* Centrer indholdet vandret */
  }
  figure img {
    width: 100%;
  }
  figcaption {
    font-size: 25px;
    text-align: center;
    color: #2c2c2c;
  }
  figure .tape {
    position: absolute;
    width: 13%; /* Adjust size as needed */
    height: 36%; /* Adjust size as needed */
  }

  .tape-top-left {
    top: -39px;
    left: 5px;
    transform: rotate(40deg);
  }

  .tape-bottom-right {
    bottom: -35px;
    right: -1px;
    transform: rotate(40deg);
  }
  .caret {
    border-top: 10px solid rgb(0, 0, 0);
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    display: inline-block;
    margin-left: 10px;
    margin-top: 10px;
    vertical-align: middle;
  }

  /* galleri*/
  .image_wrapper {
    position: relative;
    overflow: hidden;
  }

  .image_wrapper > img {
    display: block;
    width: 100%; /*gør at billederne udfylder hele deres grid*/
    aspect-ratio: 1/1; /* gør at billederne bliver retankler*/
    object-fit: cover; /*gør at alle billeder fylder lige meget*/
    object-position: center;
  }
  .forsvind {
    display: none;
  }

  .image_wrapper > .content {
    position: absolute;
    inset: 0;
    font-size: 2rem;
    background: rgba(244, 153, 184, 60%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
  }

  .image_wrapper > .content,
  .image_wrapper > img {
    transition: 300ms ease-in-out;
  }

  .image_wrapper:hover > .content.fade {
    opacity: 1;
  }

  h2 {
    font-size: 1.2em;
  }

  @media (min-width: 769px) {
    .grid1 {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    .top_grid {
      display: grid;
      grid-template-columns: 2fr 1fr;
      margin-top: 50px;
    }
    .top_grid figure {
      order: 2; /* Dette gør at "figure" bliver sat som nummer to når det kommer ind i et grid */
    }
    .top_grid iframe {
      order: 1; /*  Dette gør at "iframe" bliver sat som nummer to når det kommer ind i et grid  */
    }
    .margin {
      margin-top: 2em;
      margin-left: 10em;
      margin-right: 10em;
    }
    figure {
      width: 336px;
      height: 390px;
      position: relative;
      background-color: #ffffff;
      padding: 19px 19px 55px 19px;
      box-shadow: 4px 8px 12px 0px rgba(0, 0, 0, 0.42);
      rotate: 10deg;

      /* Tilføj disse regler for at centrere figuren */
      margin: 0 auto; /* Centrer vandret */
      margin-top: 30px;
      display: flex; /* Brug flexbox */
      flex-direction: column; /* Stak elementerne lodret */
      justify-content: center; /* Centrer indholdet lodret */
      align-items: center; /* Centrer indholdet vandret */
    }

    figure img {
      width: 100%;
    }
    figcaption {
      font-size: 25px;
      text-align: center;
      color: black;
      font-family: Amiko-Regular;
    }
    figure .tape {
      position: absolute;
      width: 13%; /* Adjust size as needed */
      height: 36%; /* Adjust size as needed */
    }

    .tape-top-left {
      top: -39px;
      left: 5px;
      transform: rotate(40deg);
    }

    .tape-bottom-right {
      bottom: -35px;
      right: -1px;
      transform: rotate(40deg);
    }
    #pink_baggrund {
      background-color: var(--pink);
      margin: 0%;
      position: relative;
      top: -100px;
      height: auto;
    }
    .last_torn_paper {
      top: -150px;
      width: 100%;
      position: relative;
      rotate: 1deg;
    }
    .nederst_h1 {
      margin-top: -140px;
      margin-left: margin-left: 1.4em;
    }
  }
</style>

<script>
  function toggleImages() {
    let imageContainers = document.querySelectorAll(".grid1");
    imageContainers.forEach((container) => {
      container.classList.toggle("forsvind");
    });
  }

  document.querySelector("#button").addEventListener("click", toggleImages);
  document.querySelector("#button2").addEventListener("click", toggleImages);
  document.querySelector("#button3").addEventListener("click", toggleImages);
</script>

