---

---

<section class="grid1 forsvind">
  <div class="image_wrapper">
    <img src="./deltager/delt_1.webp" alt="Portræt af Lili" />
    <div class="content fade">
      <h2>Lili</h2>
      <a href="https://www.instagram.com/suburbangirlsdk/?locale=en_US"
        ><img
          src="./svger/instagram.svg"
          alt="billede af instagram-logoet"
        /></a
      >
    </div>
  </div>
  <div class="image_wrapper">
    <img src="./deltager/delt_2.webp" alt="Portræt af Marie" />
    <div class="content fade">
      <h2>Marie</h2>
      <a href="https://www.instagram.com/suburbangirlsdk/?locale=en_US"
        ><img
          src="./svger/instagram.svg"
          alt="billede af instagram-logoet"
        /></a
      >
    </div>
  </div>
  <div class="image_wrapper">
    <img src="./deltager/delt_3.webp" alt="" />
    <div class="content fade">
      <h2>Anna</h2>
      <a href="https://www.instagram.com/suburbangirlsdk/?locale=en_US"
        ><img
          src="./svger/instagram.svg"
          alt="billede af instagram-logoet"
        /></a
      >
    </div>
  </div>
  <div class="image_wrapper">
    <img src="./deltager/delt_4.webp" alt="" />
    <div class="content fade">
      <h2>Donita Rose</h2>
      <a href="https://www.instagram.com/suburbangirlsdk/?locale=en_US"
        ><img
          src="./svger/instagram.svg"
          alt="billede af instagram-logoet"
        /></a
      >
    </div>
  </div>
  <div class="image_wrapper">
    <img src="./deltager/delt_5.webp" alt="" />
    <div class="content fade">
      <h2>Sofia</h2>
      <a href="https://www.instagram.com/suburbangirlsdk/?locale=en_US"
        ><img
          src="./svger/instagram.svg"
          alt="billede af instagram-logoet"
        /></a
      >
    </div>
  </div>
  <div class="image_wrapper">
    <img src="./deltager/delt_6.webp" alt="" />
    <div class="content fade">
      <h2>Luna</h2>
      <a href="https://www.instagram.com/suburbangirlsdk/?locale=en_US"
        ><img
          src="./svger/instagram.svg"
          alt="billede af instagram-logoet"
        /></a
      >
    </div>
  </div>
  <div class="image_wrapper">
    <img src="./deltager/delt_7.webp" alt="" />
    <div class="content fade">
      <h2>Kathrine</h2>
      <a href="https://www.instagram.com/suburbangirlsdk/?locale=en_US"
        ><img
          src="./svger/instagram.svg"
          alt="billede af instagram-logoet"
        /></a
      >
    </div>
  </div>
  <div class="image_wrapper">
    <img src="./deltager/delt_8.webp" alt="" />
    <div class="content fade">
      <h2>Vanilla</h2>
      <a href="https://www.instagram.com/suburbangirlsdk/?locale=en_US"
        ><img
          src="./svger/instagram.svg"
          alt="billede af instagram-logoet"
        /></a
      >
    </div>
  </div>
  <div class="image_wrapper">
    <img src="./deltager/delt_9.webp" alt="" />
    <div class="content fade">
      <h2>Molly</h2>
      <a href="https://www.instagram.com/suburbangirlsdk/?locale=en_US"
        ><img
          src="./svger/instagram.svg"
          alt="billede af instagram-logoet"
        /></a
      >
    </div>
  </div>
  <div class="image_wrapper">
    <img src="./deltager/delt_10.webp" alt="" />
    <div class="content fade">
      <h2>Ingrid</h2>
      <a href="https://www.instagram.com/suburbangirlsdk/?locale=en_US"
        ><img
          src="./svger/instagram.svg"
          alt="billede af instagram-logoet"
        /></a
      >
    </div>
  </div>
  <div class="image_wrapper">
    <img src="./deltager/delt_11.webp" alt="" />
    <div class="content fade">
      <h2>Sophie</h2>
      <a href="https://www.instagram.com/suburbangirlsdk/?locale=en_US"
        ><img
          src="./svger/instagram.svg"
          alt="billede af instagram-logoet"
        /></a
      >
    </div>
  </div>
  <div class="image_wrapper">
    <img src="./deltager/delt_4.webp" alt="" />
    <div class="content fade">
      <h2>Iris</h2>
      <a href="https://www.instagram.com/suburbangirlsdk/?locale=en_US"
        ><img
          src="./svger/instagram.svg"
          alt="billede af instagram-logoet"
        /></a
      >
    </div>
  </div>
  <div class="image_wrapper">
    <img src="./deltager/delt_2.webp" alt="" />
    <div class="content fade">
      <h2>Merle</h2>
      <a href="https://www.instagram.com/suburbangirlsdk/?locale=en_US"
        ><img
          src="./svger/instagram.svg"
          alt="billede af instagram-logoet"
        /></a
      >
    </div>
  </div>
  <div class="image_wrapper">
    <img src="./deltager/delt_6.webp" alt="" />
    <div class="content fade">
      <h2>Bjørk</h2>
      <a href="https://www.instagram.com/suburbangirlsdk/?locale=en_US"
        ><img
          src="./svger/instagram.svg"
          alt="billede af instagram-logoet"
        /></a
      >
    </div>
  </div>
  <div class="image_wrapper">
    <img src="./deltager/delt_5.webp" alt="" />
    <div class="content fade">
      <h2>Lulu</h2>
      <a href="https://www.instagram.com/suburbangirlsdk/?locale=en_US"
        ><img
          src="./svger/instagram.svg"
          alt="billede af instagram-logoet"
        /></a
      >
    </div>
  </div>
</section>

<style>
  .grid1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .image_wrapper {
    position: relative;
    overflow: hidden;
  }

  .image_wrapper > img {
    display: block;
    width: 100%; /*gør at billederne udfylder hele deres grid*/
    aspect-ratio: 1/1; /* gør at billederne bliver retankler*/
    object-fit: cover; /*gør at alle billeder fylder lige meget*/
    object-position: center;
  }
  .forsvind {
    display: none;
  }
  h2 {
    font-size: 1.2em;
  }

  .image_wrapper > .content {
    position: absolute;
    inset: 0;
    font-size: 2rem;
    background: rgba(244, 153, 184, 60%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
  }

  .image_wrapper > .content,
  .image_wrapper > img {
    transition: 300ms ease-in-out;
  }

  .image_wrapper:hover > .content.fade {
    opacity: 1;
  }
  @media (min-width: 769px) {
    .grid1 {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    .top_grid {
      display: grid;
      grid-template-columns: 2fr 1fr;
      margin-top: 50px;
    }
    .top_grid figure {
      order: 2; /* Dette gør at "figure" bliver sat som nummer to når det kommer ind i et grid */
    }
    .top_grid iframe {
      order: 1; /*  Dette gør at "iframe" bliver sat som nummer to når det kommer ind i et grid  */
    }
  }
</style>
