<div class="samarb_logo_center">
    <img class="kulturmetropolen" src="/samarbejdslogo/kmp.webp" alt="logo" />
    <p>KULTURMETROPOLEN</p>
  </div>
    <div class="samarb_logo_row">
      <img src="/samarbejdslogo/koda.webp" alt="logo" />
      <img src="/samarbejdslogo/daf.webp" alt="logo" />
      <img src="/samarbejdslogo/mv.webp" alt="logo" />
      <img src="/samarbejdslogo/dsa.webp" alt="logo" />
      <img src="/samarbejdslogo/bandakademiet.webp" alt="logo" />
      <img src="/samarbejdslogo/dpa.webp" alt="logo" />
    </div>

<style>
.kulturmetropolen{
width: 100%; /* Gør billedet bredde til at fylde sin container */
height: auto; /* Bevarer billedets oprindelige højde-bredde-forhold */
}
img{
  width: 14%; /* Gør billedet bredde til at fylde sin container */
    height: auto; /* Bevarer billedets oprindelige højde-bredde-forhold */
    object-fit: contain; /* Sikrer at billedet tilpasses korrekt indenfor containeren */
  margin: 2%;
}

  .samarb_logo_center {
    margin-left: 43%;
  margin-right: 43%;
    display: flex;
    justify-content: center; /* Centrerer elementer vandret */
    align-items: center; /* Centrerer elementer lodret */
    flex-direction: column;
  }
  .samarb_logo_row {
    display: flex;
    flex-direction: row;
    justify-content: center; /* Centrerer elementer vandret */
    align-items: center; /* Centrerer elementer lodret */
    margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 4%;
  }
</style>
