
---
const text = Astro.props.text;
---
<div class="white-box">
    <img class="tape tape3" src="../svger/tape.svg" alt="tape">
    <img class="tape tape4" src="../svger/tape.svg" alt="tape">
    <p>{text}</p>
</div>
<style>
.white-box {
    background-color: white;
    text-align: center;
    padding: 3rem;
    padding-bottom: 1rem;
    max-width: 70%;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    box-shadow: 0rem 0.3rem 5px var(--shadow);
  }
p{
    line-height: 1.5rem;
  }
  .tape3, .tape4 {
    display: none;
  }
  @media (min-width: 769px){
  .white-box {
    background-color: white;
    text-align: center;
    padding: 5rem 3rem;
    padding-bottom: 3rem;
    max-width: 100vw;
    max-height: 100vh;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    align-content: center;
    box-shadow: 0rem 0.3rem 5px var(--shadow);
    position: relative;
  }
p{
    line-height: 4rem;
  }
  .tape3 {
    display: initial;
    top: -2.5rem;
    left: -2rem;
    transform: rotate(100deg);
  }
  .tape4 {
    display: initial;
    top: -2.5rem;
    right: -1.5rem;
    transform: rotate(-10deg);
  }
  }
</style>
